
@font-face {
  font-family: Heading;
  src: url(../src/assets/font/The\ Blast.otf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
  position: relative;
  
}

.lazyload-wrapper {
  height: 100%;
  width: 100%;
  /* text-transform: capitalize; */
}
/* ::-webkit-scrollbar{
  display: none;
} */



/* Adjust scrollbar width and height */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track color */
::-webkit-scrollbar-track {
  background-color: rgba(243, 243, 243, 0);
}

/* Handle (thumb) color */
::-webkit-scrollbar-thumb {
  background-color: rgb(13, 13, 13);
}
