
@font-face {
  font-family: Heading;
  src: url(../src/assets/font/The\ Blast.otf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
  position: relative;
}

.lazyload-wrapper {
  height: 100%;
  width: 100%;
  /* text-transform: capitalize; */
}
/* ::-webkit-scrollbar{
  display: none;
} */

::-webkit-scrollbar {
  width: 7px;
  height: 7px
}
::-webkit-scrollbar-track {
  /* backgroundColor: theme.palette.background.neutral */
  background-color: hsl(240, 3.7%, 15.9%);
}
::-webkit-scrollbar-thumb {
  /* backgroundColor: theme.palette.grey[500], */
  background-color: hsl(240, 5.9%, 90%);
}